{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Chore Service",
    "description": "A chore service that creates and retrives a list of chores",
    "contact": {
      "name": "Gonzalo Vazquez",
      "email": "gvazquez@usmakestwo.io",
      "url": "http://usmakestwo.io"
    },
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "http://usmakestwo.com/bankly/v1"
    }
  ],
  "paths": {
    "/chores": {
      "get": {
        "description": "Return chores matching a customer ID\n",
        "summary": "Chore by Customer ID",
        "operationId": "findChoreByCustomerId",
        "tags": [
          "chores"
        ],
        "parameters": [
          {
            "name": "cust_id",
            "in": "query",
            "description": "Customer Id for which to retrieve the account list",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "security": [
          {
            "OAuth2": [
              "chore"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Chores matching Customer ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "$ref": "#/components/schemas/Chore"
                },
                "example": [
                  {
                    "id": 1,
                    "customerID": 1,
                    "name": "Wash car",
                    "completed": true,
                    "recurrent": "weekly",
                    "amount": 10
                  },
                  {
                    "id": 2,
                    "customerID": 1,
                    "name": "Vacuum room",
                    "completed": false,
                    "recurrent": "daily",
                    "amount": 2.5
                  },
                  {
                    "id": 3,
                    "customerID": 1,
                    "name": "Clean room",
                    "completed": false,
                    "recurrent": "monthly",
                    "amount": 6
                  }
                ]
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new chore\n",
        "summary": "Create a chore",
        "operationId": "createChores",
        "requestBody": {
          "description": "Chore to add",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Chore"
              }
            }
          }
        },
        "tags": [
          "chores"
        ],
        "security": [
          {
            "chore_auth": [
              "read:chore",
              "write:chore"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Null response"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/chores/{choreId}": {
      "get": {
        "description": "Retrieve a chore with a specific ID.\n",
        "summary": "Info for a specific chore",
        "operationId": "showChoreById",
        "tags": [
          "chores"
        ],
        "parameters": [
          {
            "name": "choreId",
            "in": "path",
            "required": true,
            "description": "The id of the chore to retrive",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "OAuth2": [
              "chore"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chore",
                  "example": {
                    "id": 1,
                    "customerID": 1,
                    "name": "Wash Car",
                    "completed": true,
                    "recurrent": "weekly",
                    "amount": 30
                  }
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete one chore from the database\n",
        "summary": "Delete chore",
        "operationId": "deleteChoreById",
        "tags": [
          "chores"
        ],
        "parameters": [
          {
            "name": "choreId",
            "in": "path",
            "required": true,
            "description": "The id of the chore to delete",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "header",
            "required": true,
            "description": "The key header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "OAuth2": [
              "chore"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chore"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "description": "Successful operation\n",
        "summary": "health check",
        "responses": {
          "200": {
            "description": "Service available"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "http://localhost:8080/oauth2/code",
            "tokenUrl": "http://localhost:8080/oauth2/token",
            "scopes": {
              "read:chore": "Grants read access",
              "write:chore": "Grants write access"
            }
          }
        }
      }
    },
    "schemas": {
      "Chore": {
        "required": [
          "id",
          "customerID",
          "name",
          "completed"
        ],
        "properties": {
          "id": {
            "description": "Unique identifier for chore",
            "type": "integer",
            "format": "int64"
          },
          "customerID": {
            "description": "The customer ID related to each chore",
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "description": "The name of the chore",
            "type": "string"
          },
          "completed": {
            "description": "If the chore is completed",
            "type": "boolean"
          },
          "recurrent": {
            "description": "How often does the chore happen",
            "type": "string"
          },
          "amount": {
            "description": "How much money does the chore recieve",
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Error": {
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}